@font-face {
  font-family: digimon-italic;
  src: url('public/assets/fonts/pixel-digivolve-italic.ttf');
}

@font-face {
  font-family: digimon;
  src: url('public/assets/fonts/pixel-digivolve.ttf');
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

body {
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  background: url('assets/Images/986b40b07ff496b8ef2dffcab76192be (1).png');
  background-size: cover;
  padding: 50px;
  overflow-x: hidden;
  place-items: start;
}

#root {
  width: 100%;
  height: 100%;
  /* padding: 50px; */
  /* display: grid;
  justify-content: center;
  align-items: center; */
}

.title-screen-main {
  display: grid;
  grid-template-rows: 300px 1fr;
  justify-items: center;
  align-items: center;
  font-family: digimon;
}

.title-screen-main,
button {
  font-family: digimon, sans-serif;
  color: yellow;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  text-align: center;
}

.title {
  font-size: 4rem;
}

.subheading {
  font-size: 2rem;
}

.title-play-wrapper {
  font-size: 2.5rem;
  display: grid;
}

.logo {
  position: absolute;
  top: 50px;
  left: 50px;
}

.digimon-logo {
  height: 150px;
}

.digimon-logo-game {
  height: 75px;
  position: relative;
  top: -10px;
}

.agumon-sprite-wrapper {
  position: absolute;
  top: 200px;
  left: 50px;
}

.agumon-sprite {
  height: 100px;
}

button {
  background: transparent;
  padding: 0px;
  margin: 0px;
  border: none;
}

button:hover {
  transform: scale(1.2);
}

button:focus {
  transform: scale(1.2);
  border: none;
  outline: none;
}

/* .play-btn:focus::before {
  content: ' ';
  font-size: 0.2rem;
  position: relative;
  left: -10px;
  top: -10px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #fff73b;
  transform: rotate(0deg);
} */

.difficulty-select {
  display: flex;
  gap: 35px;
}

.difficulty-select > button {
  font-size: 2.5rem;
}

.loading-text {
  font-size: 3rem;
}

.game-screen {
  max-height: 100vh;
  height: 75vh;
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  align-items: center;
  justify-content: center;
  /* row-gap: 50px; */
  /* padding: 1rem; */
}

.memory-card-container {
  height: 300px;
  width: 280px;
  cursor: pointer;
  perspective: 1000px;
}

.memory-card {
  background-color: white;
  color: black;
  position: relative;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #242424;
  height: 100%;
  width: 100%;
  text-align: center;
  transform-style: preserve-3d;
}

.memory-card-container {
  transition: transform 0.3s;
  z-index: 1;
}

.card-tilt-container {
  height: 300px;
}

.flip-card-initial {
  animation: card-flip-initial 1.75s ease-in-out 0s 1 forwards normal;
}

.flip-card {
  animation: card-flip-turn 3.5s ease-in-out 0s 1 forwards normal;
}

.memory-card-front,
.memory-card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  display: grid;
  justify-content: center;
}

.memory-card-front {
  left: 0px;
}

.memory-card-back {
  transform: rotateY(180deg);
}

.memory-card-back-img {
  height: 100%;
  width: 100%;
  position: relative;
  top: -15px;
  left: 15px;
  border-radius: 10px;
}

.digimon-name {
  font-size: 1.3rem;
}

.digimon-img {
  height: 225px;
  /* width: 250px; */
  /* mix-blend-mode: multiply; */
}

.card-logo {
  position: absolute;
  left: 32%;
  top: 50px;
  width: 150px;
  /* height: 50px; */
}

.logo-game {
  display: grid;
  width: min-content;
  /* justify-content: center; */
  margin-bottom: 25px;
  cursor: pointer;
}

.score-container {
  display: flex;
  position: absolute;
  top: 20px;
  right: 45%;
  font-family: digimon;
  color: yellow;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  font-size: 3rem;
  border: 3px dashed yellow;
  padding: 5px;
  width: 200px;
  height: 125px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: url('assets/Images/PlayStation - Digimon World - Title Screen JAP 2 (1) (1).png');
  background-size: contain;
}

.game-over-screen {
  width: fit-content;
  height: auto;
  margin: 0 auto;
  background: #242424;
  border-radius: 25px;
  box-shadow: 4px 4px 4px #242424;
  background-size: cover;
  display: grid;
  align-items: start;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.game-over-text-wrapper {
  height: fit-content;
  width: auto;
  background-color: transparent;
  font-weight: bold;
  border-radius: 10px;
  padding: 8px;
  text-align: center;
  background-color: #242424;
}

.game-over-gif {
  height: 400px;
  width: 700px;
}

.game-over-text {
  font-family: digimon, sans-serif;
  font-size: 2.5rem;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  color: yellow;
}

.game-over-btn-wrapper {
  font-size: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.help-container {
  width: 1050px;
  height: 300px;
  background-color: burlywood;
  background: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
  border: 5px solid #242424;
  border-radius: 15px;
  box-shadow: 2px 2px 2px #242424;
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 20px;
  position: relative;
  margin-top: 30px;
}

.game-help {
  transform: scale(0.5);
  position: absolute;
  left: -400px;
  top: -40px;
}

.game-help-cards {
  height: 180px;
  position: relative;
  left: 175px;
  bottom: 30px;
  border-radius: 10px;
  border: 2px solid #242424;
  box-shadow: 2px 2px 2px #444444;
}

.help-close-btn-wrapper {
  padding: 10px 15px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(59, 149, 237) 0%,
    rgb(7, 91, 173) 90%
  );
  border: 2px solid #242424;
  position: relative;
  right: -400px;
  bottom: 10px;
  border-radius: 10px;
}

@keyframes card-flip-initial {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes card-flip-turn {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
